#a{background-color:#004080;min-height:130px;}

.aa p{margin-top:60px;float:right;margin-right:1040px;font-size:44px;color:white;}
.email{float:left;margin-left:720px;margin-top:-140px;color:white}
.phone{float:right;margin-top:-88px;;margin-right:480px}
.pass{float:right;;margin-right:380px;margin-top:-142px;color:white;}
.password{float:right;;margin-right:295px;margin-top:-88px;}
.log{float:right;;margin-right:230px;margin-top:-88px;}
.forgot a{float:right;;margin-right:350px;margin-top:-60px;color:white}
#hh{min-height:900px;background-color:#c0c0c0;}
.para h1{font-size:33px;margin-left:56px;float:left;}
.para h2{font-size:33px;float:right;margin-top:-18px;margin-right:830px;}
.picture{float:left;margin-left:55px;margin-top:40px;}
.up{float:left;margin-left:65px;margin-top:45px;}
.up b{font-size:20px;}
.pic{float:left;margin-left:-490px;margin-top:150px;}
.upp b{font-size:20px;}
.upp {float:left;margin-left:-380px;margin-top:140px;}
.paraa{float:right;margin-right:400px;margin-top:-160px;}
.paraa p{font-size:37px;}
.paraaa{float:right;margin-right:340px;margin-top:-90px;}
.paraaaa{float:right;margin-right:170px;margin-top:-30px;}
.paraaaaa{float:right;margin-right:140px;margin-top:15px;}