.slide{background-color:silver;text-align:center;font-size:large;min-height:170px;margin-bottom:30px;}
.main{background-color:silver;text-align:center;font-size:large;min-height:575px;margin-bottom:8px;}
.button{min-height:100px;background-color:pink;}
.btn{margin:14px;float:left;}